*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-image:url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.navigation{
display:flex;
justify-content: space-between;
padding-left: 60px;
padding-right: 60px;
padding-top: 20px;
align-items: center;
}
.navigation ul{
    display:flex; 
    justify-content: center; 
    align-items: center;  
}
.navigation ul li{
    color: white;
    padding: 0px 20px;
    list-style-type: none;
}
.navigation button{
    color:black;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    font-size: 13px;
    font-weight: 900;
    border-radius: 30px;
}
.creativearrow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
}
.creativearrow h1{
    color: white;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 5px;
}
.creativearrow img{
    padding-top: 90px;
}
.transformegg{
display: flex;
}
.tranform,.stand{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 90px 90px;
    gap: 20px;
}
.tranform h1{
    font-size: 45px;
    font-weight: 900;
    width: 70%;
}
.tranform p{
    width: 75%;
}
.tranform h2{
    text-decoration:underline solid 6px yellow ;
}
.egg,.cup{
    width: 50%;
    height: 66vh;
}
.egg img,.cup img{
width: 100%;
height: 100%;
}
.standoutcup{
    display: flex;
    flex-direction: row-reverse;
}
.stand h1{
    font-size: 45px;
    font-weight: 900;
    width: 90%;
}
.stand p{
    width: 75%;
}
.stand h2{
    text-decoration: underline 10px solid hsl(7, 99%, 70%);
    
}
.graphicphoto{
display: flex;
}
.graphic{
    width: 50%;
    height: 70vh;
    background-color: blueviolet;
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 300px;
}
.graphic p{
    width: 46%;
    text-align: center;
}
.photo{
    width: 50%;
    height: 70vh;
    background-image: url(images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 300px;
}
.photo p{
    width: 46%;
    text-align: center;
}
.client{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  /* gap: 50px; */
}
.client h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(198, 62%, 26%);
}
.threeclient{
    display: flex;
    padding: 80px 80px;
}
.oneclient,.twoclient,.lastclient{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.oneclient img,.twoclient img,.lastclient img{
width: 5vw;
border-radius: 100%;
}
.text{
    width: 75%;
    text-align: center;
}
.emarket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text2{
    width: 67%;
    text-align: center;
}
.text3{
    width: 78%;
    text-align: center;
}
.bottleorange,.cronesugar{
    display: flex;
    width: 50%;
    height: 30vh;
}
.bottleorange img,.cronesugar img{
    width: 100%;
    height: 100%;
}
.fourbox{
    display: flex;
}
.footer{
    background-color:hsl(168, 34%, 41%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 40px;
}
.footer img{
    width: 10vw;
}
.about a{
    text-decoration: none;
    padding: 0px 20px;
}
.sm ul{
display: flex;
}
.sm ul li{
list-style-type: none;
padding: 20px 10px;

}
.sm img{
    width: 1vw;
}
@media screen and (max-width: 960px){
    .header{
        background-image: url(images/mobile/image-header.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width:100%;
        height: 85vh;
    }
    .navigation{
        display:flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 0px;
        padding-top: 20px;
        align-items: center;
        }
        .navigation img{
            width: 25vw;
        }
    .navigation ul{
        display:none; 
        justify-content: center; 
        align-items: center;  
    }
    .creativearrow{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        flex-direction: column;
    }
    .creativearrow h1{
        color: white;
        text-transform: uppercase;
        font-size: 39px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
    }
    .creativearrow img{
        padding-top: 170px;
    }
    .transformegg{
        display: flex;
        flex-direction: column-reverse;
        }
        .egg,.cup{
            width: 100%;
            height: 30vh;
        }
        .tranform,.stand{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 40px 30px;
            gap: 20px;
        }
        .tranform h1,.stand h1{
            font-size: 30px;
            font-weight: 900;
            width: 90%;
            text-align: center;
        }
        .tranform p,.stand p{
            width: 100%;
            text-align: center;
            font-size: 13px;
            font-weight: 900;
            color:hsl(168, 34%, 41%) ;
        }
        .stand h2{
            text-decoration: underline 10px solid hsl(7, 99%, 70%);
            text-align: center;
        }
        .tranform h2{
            text-decoration:underline solid 6px yellow ;
            text-align: center;
        }
        .standoutcup{
            display: flex;
            flex-direction: column-reverse;
        }
        .graphicphoto{
            display: flex;
            flex-direction: column;
            }
            .graphic{
                width: 100%;
                height: 70vh;
                background-image: url(images/desktop/image-graphic-design.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 15px;
                padding-top: 270px;
            }
            .graphic p,.photo p{
                width: 85%;
                font-size: 13px;
                text-align: center;
            }
            .photo{
                width: 100%;
                height: 70vh;
                background-image: url(images/desktop/image-photography.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 15px;
                padding-top: 300px;
            }
            .client{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                /* gap: 50px; */
                padding: 20px 20px;
              }
              .client h1{
                font-size: 13px;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 5px;
                color: hsl(198, 62%, 26%);
            }
            .threeclient{
                display: flex;
                flex-direction: column;
                padding: 40px 0px;
                gap: 30px;
            }
            .oneclient img,.twoclient img,.lastclient img{
                width: 20vw;
                border-radius: 100%;
                }
                .text{
                    width: 100%;
                    text-align: center;
                }
                .text2{
                    width: 260px;
                    text-align: center;
                }
                .text3{
                    width: 105%;
                    text-align: center;
                }
            .fourbox{
                display: flex;
                flex-direction: column;
            }.bottleorange,.cronesugar{
                display: flex;
                width: 100%;
                height: 20vh;
            }
            .bottleorange img,.cronesugar img{
                width: 100%;
                height: 100%;
            }
            .footer{
                background-color:hsl(168, 34%, 41%); 
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                padding: 50px 20px;
            }.footer img{
                width: 40vw;
            }
            .about a{
                text-decoration: none;
                padding: 0px 10px;
            }
            .sm ul{
            display: flex;
            }
            .sm ul li{
            list-style-type: none;
            padding: 30px 5px;
            
            }
            .sm img{
                width: 6vw;
            }
}